*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

.gameboard {
  display: flex;
  flex-direction: column;
}
.row {
  height: 40px;
  display: flex;
}
.space{
  border: 1px solid black;
  width: 40px;
}
.hit {
  background-color: red;
}
.miss {
  background-color: grey;
}

.game {
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.labels{
  display: flex;
  justify-content: space-around;
}
#player1ships[open], #player2ships[open] {
  display: flex;
  justify-content: space-around;
  height: 70vh;
  width: 70vw;
}
.ship, .ship2 {
  margin: 5px;
  font-size: 1px;
  color: blue;
  background-color: blue;

}

#horizontal-five {
  height: 20px;
  width: 100px;
}
#vertical-five {
  height: 100px;
  width: 20px;
}
#horizontal-four {
  height: 20px;
  width: 80px;
}
#vertical-four {
  height: 80px;
  width: 20px;
}
.h3 {
  height: 20px;
  width: 60px;
}
.v3 {
  height: 60px;
  width: 20px;
}
.placegame, .placegame2 {
  display: flex;
  flex-direction: column;
}
.placerow, .placerow2 {
  height: 20px;
  display: flex;
}
.placecell, .placecell2 {
  width: 20px;
  border: 1px solid, black;
  color: white;
  font-size: 2px;
}
.dragging {
  opacity: 0.5;
}
.handle {
  background-color: purple;
  border: 2px purple inset;
  height: 20px;
  width: 20px;
  position: fixed;
}
.occupied{
  background-color: red;
}
.hidden{
  display: none;
}

dialog {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}