*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

.gameboard {
  display: flex;
  flex-direction: column;
}
.row {
  height: 40px;
  display: flex;
}
.space{
  border: 1px solid black;
  width: 40px;
}
.hit {
  background-color: red;
}
.miss {
  background-color: grey;
}

.game {
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}